<input
  type={{this.displayType}}
  id={{this.inputId}}
  value={{@value}}
  class="cognito-password-input"
  onchange={{action "onChange"}}
  ...attributes
>
<button
  type="button"
  class="cognito-password-input-toggle-button"
  data-test-cognito-password-toggle-visibility
  {{on "click" (action "toggleDisplayType")}}
>
  {{this.passwordToggleText}}
</button>